.btn{
  padding: 0.5em 1em;
  border-radius: 0;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all .25s linear;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.4);
  color: #fff;

  &:hover{box-shadow: 0 0 10px 5px rgba(0, 0, 0, .5);}
}

.btn.btn_xs{padding: 0.4em 0.8em; font-size: 0.8em;}
.btn.btn_sm{padding: 0.5em 1em; font-size: 1em;}
.btn.btn_md{padding: 0.6em 1.2em; font-size: 1.2em;}
.btn.btn_lg{padding: 0.7em 1.4em; font-size: 1.4em;}
.btn.btn_xl{padding: 0.85em 1.7em; font-size: 1.7em;}
.btn.btn_xxl{padding: 1em 2em; font-size: 2em;}

.btn.btn_fw{width: 100%;display: inline-block;}

.btn.disabled:hover{box-shadow: none;}


